@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
  font:14px/150% "Hiragino Sans GB","Microsoft Yahei UI";
  /*font:14px/150% "Microsoft YaHei","\5b8b\4f53";*/
  color:#898989;
  background:#f5f6fc;
}
.clearfix:before,.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after{clear:both;}
.clearfix{
  *zoom:1;/*IE/7/6*/
}
p{
  font-size: 14px;
  color: #888;
}
a {color:#898989; text-decoration:none; user-select:none;outline: none}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em,b{font-style:normal;text-decoration:none;font-weight: normal}


/*公共类*/
.fl {
  float:left
}
.fr {
  float:right
}
.al {
  text-align:left
}
.ac {
  text-align:center
}
.ar {
  text-align:right
}
.hide {
  display:none
}
.w1200{
  width: 1200px;
  margin: 0 auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
.m0{
  margin: 0!important;
}
.p0{
  padding: 0!important;
}
.b0{
  border: none!important;
}
.red{
  color: #D30006;
  font-weight: bold;
}
.blue{
  color: #537AC5;
  font-weight: bold;
}
.tr{
  text-align: right!important;
}
a[title="站长统计"]{
  display: none;
}
input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
  font-family: "KaiGenGothicSC-Light";
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #ccc;
  font-size: 14px;
  font-family: "KaiGenGothicSC-Light";
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-size: 14px;
  font-family: "KaiGenGothicSC-Light";
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: #ccc;
  font-size: 14px;
  font-family: "KaiGenGothicSC-Light";
}










